<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.olympus.clickhouse</string>
  <key>UserName</key>
  <string>_clickhouse</string>
  <key>ProgramArguments</key>
  <array>
    <string>/opt/homebrew/bin/clickhouse</string>
    <string>server</string>
    <string>--config-file={{ data_services_nvme_root }}/config/clickhouse/config.xml</string>
  </array>
  <key>WorkingDirectory</key>
  <string>{{ data_services_nvme_root }}/data/clickhouse</string>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>StandardOutPath</key>
  <string>{{ data_services_nvme_root }}/logs/clickhouse/stdout.log</string>
  <key>StandardErrorPath</key>
  <string>{{ data_services_nvme_root }}/logs/clickhouse/stderr.log</string>
</dict>
</plist>
