console=serial0,115200 console=tty1 root=/dev/mmcblk0p2 rootfstype=ext4 elevator=deadline fsck.repair=yes rootwait autoinstall ds=nocloud-net;seedfrom=http://{{ pxe_server_ip }}:{{ pxe_http_port }}/cloud-init/default/ quiet splash
